@layout AdminLayout
@page "/admin/movie-categories"
@using Cinemate.Web.Services.Contracts
@using Cinemate.Models.Dto
<PageTitle>MovieCategory</PageTitle>

<Card>
    <CardBody>
        @if (isMovieCategoryAddedSucces)
        {
            <Alert Color="AlertColor.Success"  Dismissable="true">
                <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>
                Category added successfully!
            </Alert>
        }
        <h1>Categories</h1>
        <Button Color="ButtonColor.Primary" class="my-4" @onclick="ShowAddMovieCategoryModal">Add Category</Button>

        @if (AllMovieCategories is not null)
        {
            <Grid @ref="MovieCategoryGrid"
                  TItem="MovieCategoryDto"
                  Class="table table-hover table-bordered table-striped"
                  DataProvider="GridDataProvider"
                  AllowFiltering="true"
                  AllowSorting="true"
                  AllowPaging="true"
                  Responsive="true">
                <GridColumn TItem="MovieCategoryDto" HeaderText="Id" PropertyName="Id" SortKeySelector="@(item => item.Id)" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending">@context.Id</GridColumn>
                <GridColumn TItem="MovieCategoryDto" HeaderText="Name" PropertyName="Name" SortKeySelector="@(item => item.Name)">@context.Name</GridColumn>
            </Grid>
        }
    </CardBody>
</Card>

<Modal @ref="addMovieCategoryModal" Title="Add Category">
    <BodyTemplate>
        <EditForm Model="AddMovieCategoryDto" OnValidSubmit="@HandleValidSubmit">
            <ValidationSummary/>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <InputText id="name" class="form-control" @bind-Value="@AddMovieCategoryDto.Name" required/>
                <ValidationMessage For="@(() => AddMovieCategoryDto.Name)"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </BodyTemplate>
</Modal>

@code { // C# code block
    [Inject] protected PreloadService PreloadService { get; set; } = default!; // Injected preload service
    [Inject] public IMovieCategoryService MovieCategoryService { get; set; } // Injected movie category service
    
    private IEnumerable<MovieCategoryDto> AllMovieCategories = default!; // Collection of all movie categories
    BlazorBootstrap.Grid<MovieCategoryDto> MovieCategoryGrid = default!; // Reference to the movie category grid

    public AddMovieCategoryDto AddMovieCategoryDto = new AddMovieCategoryDto(); // DTO for adding a movie category
    private Modal addMovieCategoryModal = default!; // Reference to the modal component
    public bool isMovieCategoryAddedSucces = false; // Flag to indicate if the category was added successfully


    private async Task HandleValidSubmit() // Method to handle form submission
    {
        try
        {
            PreloadService.Show(); // Show loading spinner
            var result = await MovieCategoryService.AddMovieCategory(AddMovieCategoryDto); // Add the category
            isMovieCategoryAddedSucces = true; // Set success flag
            AllMovieCategories.Append(result); // Add the new category to the collection
            await addMovieCategoryModal.HideAsync(); // Hide the modal
            await MovieCategoryGrid.RefreshDataAsync(); // Refresh the grid data
            PreloadService.Hide(); // Hide loading spinner

        }
        catch (Exception e)
        {
            Console.WriteLine(e); // Log exception
            throw;
        }
    }
    
    private async Task<GridDataProviderResult<MovieCategoryDto>> GridDataProvider(GridDataProviderRequest<MovieCategoryDto> request) // Method to provide data to the grid
    {
        return await Task.FromResult(request.ApplyTo(AllMovieCategories)); // Apply filtering, sorting, and paging to the data
    }

    private async Task ShowAddMovieCategoryModal() // Method to show the add category modal
    {
        await addMovieCategoryModal.ShowAsync(); // Show the modal asynchronously
    }
    
    protected override async Task OnInitializedAsync() // Method called when the component is initialized
    {
        PreloadService.Show(); // Show loading spinner
        AllMovieCategories = await MovieCategoryService.GetAllMovieCategories(); // Get all movie categories
        PreloadService.Hide(); // Hide loading spinner
    }

}